@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
<meta name="viewport" content="width=device-width, initial-scale=1.0">
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;300;700&display=swap');
*{
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-family: 'Roboto', 'Lato', times;
}
h1
{
  font-family: 'Arima Madurai', cursive, times;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0099DD;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #21BD8D;
}
[class*="my-col-"] {
  float: left;
  padding: 5px;
}

/* ******* step 5: clear both */
.row::after {
  content: "";
  clear: both;
  display: block;
}
@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .my-col-mobile {width : 100%};
  /* .my-col-mobile-3 {width : 25%};
  .my-col-mobile-4 {width : 40%};
  .my-col-mobile-6 {width : 49%};
  .my-col-mobile-pic {display: none};
  .my-col-mobile-9 {width : 75%};
  .my-col-mobile-11{width:96%;} */

}
@media only screen and (min-width: 768px) {
.my-col-1 {width: 8.33%;}
.my-col-1-5{width: 14%;}
.my-col-2 {width: 16.66%;}
.my-col-3 {width: 25%;}
.my-col-4 {width: 33.33%;}
.my-col-5 {width: 41.66%;}
.my-col-6 {width: 50%;}
.my-col-7 {width: 58%;}
.my-col-8 {width: 66.66%;}
.my-col-9 {width: 75%;}
.my-col-10 {width: 83%;}
.my-col-11 {width: 91%;}
.my-col-12 {width: 99%;}
}
.row
{
  width: 100%;
  margin: 0;
}
.big-container
{
  width: 100%;
  padding: 0;
  margin: 0;
}
.container
{
  width: 98%;
  padding: 0;
  margin: 0;
}
/* .left-float
{
  float: left;
}
.right-float
{
  float: right;
} */
.clear-float
{
  clear: both;
}
.foot-div
{
  margin: auto;
  padding: 10px;
}
footer
{
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   overflow: hidden;
}
.foot
{
   padding: 5%;
   margin: auto;
}
h2
{
  font-family: 'Satisfy', 'cursive' , sans-serif;
}
.alink
{
  text-decoration: none;
  color: white;
  font-family: 'Roboto', georgia;

}
.left-sec
{
  width: 48%;
  float: left;
  align-content: center;
}
.right-sec
{
  width: 48%;
  float: right;  
  align-content: right;

}
nav
{
   position: fixed;
   top: 0;
   width: 100%;
   padding: 5%
   color: white;
}
.btn
{
  font-family: 'Roboto', georgia;
  color: white;
  background-color: blue;
}
.btn-head
{
  border-radius: 1px;
  padding: 1%;
  border:1px #03989E;
  background-color: #03989E;
  color: white;
  margin: 0 1% 1% 1%
}